@import url(//fonts.googleapis.com/css?family=Open+Sans);

.wow {
  width: 100px;
}

body {
  margin: 0;
  background-color: #000000;
}

header h1 {
	font-size: 80px;
	padding-top: 50px;
	margin: 0 0 0 20px;
  text-align: center;
}

header h1 a, h2, p, ul, ol, footer {
	text-decoration: none;
	color: #ffffff;

}

header h1 a:hover {
	color: #faf4f4;
}

h2{
  font-size: 30px;
  text-align: center;
}

footer {
    background-color: darkgray;
    margin: 200px 0 0 0;
    padding: 20px 0;
    font-size: 20px;
}

a {
  color: #deb5b5
}

header,
nav,
main,
footer, p, body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 600px;
  margin: auto;
}

img {
	width: 100%
}

/* ----- =header & nav ----- */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

nav a {
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
  color: #abb5bf;
  font-family: 'Open Sans', sans-serif;
}

nav a:hover {
  color: #abb5bf;
}

nav a:last-of-type {
  margin-right: 20px;
}
